# Student Lifestyle Analytics â€” Data Preparation (Step 3)

# 1. Setup & Load

In [1]:
import pandas as pd

df = pd.read_csv("../data/interim/student_lifestyle_clean.csv")
df.head()

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,GPA,Stress_Level,GPA_Quartile
0,1,6.9,3.8,8.7,2.8,1.8,2.99,Moderate,Q2
1,2,5.3,3.5,8.0,4.2,3.0,2.75,Low,Q1_lowest
2,3,5.1,3.9,9.2,1.2,4.6,2.67,Low,Q1_lowest
3,4,6.5,2.1,7.2,1.7,6.5,2.88,Moderate,Q1_lowest
4,5,8.1,0.6,6.5,2.2,6.6,3.51,High,Q4_highest

# 2. Handle Outliers

- Cap Physical_Activity_Hours_Per_Day at 10h.

In [2]:
df["Physical_Activity_Hours_Per_Day"] = df["Physical_Activity_Hours_Per_Day"].clip(upper=10)

- Optional: remove rows where total hours > 24.

In [3]:
df["Total_Hours"] = (
    df["Study_Hours_Per_Day"] + df["Sleep_Hours_Per_Day"] +
    df["Social_Hours_Per_Day"] + df["Extracurricular_Hours_Per_Day"] +
    df["Physical_Activity_Hours_Per_Day"]
)
df = df[df["Total_Hours"] <= 24]

# 3. Encode Categorical Variables

- Convert Stress_Level (Low, Moderate, High) into ordered categories.

In [4]:
df["Stress_Level"] = pd.Categorical(
    df["Stress_Level"], categories=["Low","Moderate","High"], ordered=True
)

- For ML modeling later, add dummy variables:

In [5]:
df = pd.get_dummies(df, columns=["Stress_Level"], drop_first=True)

# 4. Feature Engineering

Create useful derived features:

- 4.1 Study-to-Sleep Ratio (balance measure):

In [6]:
df["Study_Sleep_Ratio"] = df["Study_Hours_Per_Day"] / df["Sleep_Hours_Per_Day"]

- 4.2 Total Active Hours (study + physical + extracurricular + social):

In [7]:
df["Active_Hours"] = (
    df["Study_Hours_Per_Day"] + df["Physical_Activity_Hours_Per_Day"] +
    df["Extracurricular_Hours_Per_Day"] + df["Social_Hours_Per_Day"]
)

4.3 GPA Quartile (for comparisons & dashboard filters):

In [8]:
df["GPA_Quartile"] = pd.qcut(df["GPA"], 4, labels=["Q1_Lowest","Q2","Q3","Q4_Highest"])

# 5. Validate Cleaned Data

Quick sanity checks:

In [9]:
print(df.isna().sum())
print(df.describe(include="all"))

Student_ID                         0
Study_Hours_Per_Day                0
Extracurricular_Hours_Per_Day      0
Sleep_Hours_Per_Day                0
Social_Hours_Per_Day               0
Physical_Activity_Hours_Per_Day    0
GPA                                0
GPA_Quartile                       0
Total_Hours                        0
Stress_Level_Moderate              0
Stress_Level_High                  0
Study_Sleep_Ratio                  0
Active_Hours                       0
dtype: int64
         Student_ID  Study_Hours_Per_Day  Extracurricular_Hours_Per_Day  \
count   1766.000000          1766.000000                    1766.000000
unique          NaN                  NaN                            NaN
top             NaN                  NaN                            NaN
freq            NaN                  NaN                            NaN
mean    1008.422424             7.412288                       1.985844
std      576.025556             1.418638                       1.164028
min        1.000000             5.000000                       0.000000
25%      512.250000             6.200000                       1.000000
50%     1014.500000             7.400000                       2.000000
75%     1507.750000             8.600000                       3.000000
max     2000.000000            10.000000                       4.000000

        Sleep_Hours_Per_Day  Social_Hours_Per_Day  \
count           1766.000000           1766.000000
unique                  NaN                   NaN
top                     NaN                   NaN
freq                    NaN                   NaN
mean               7.444507              2.660815
std                1.462278              1.682964
min                5.000000              0.000000
25%                6.200000              1.200000
50%                7.500000              2.500000
75%                8.700000              4.000000
max               10.000000              6.000000

        Physical_Activity_Hours_Per_Day          GPA GPA_Quartile  \
count                       1766.000000  1766.000000         1766
unique                              NaN          NaN            4
top                                 NaN          NaN           Q2
freq                                NaN          NaN          448
mean                           4.481257     3.104247          NaN
std                            2.510649     0.295507          NaN
min                            0.000000     2.240000          NaN
25%                            2.500000     2.890000          NaN
50%                            4.300000     3.100000          NaN
75%                            6.400000     3.310000          NaN
max                           10.000000     3.930000          NaN

        Total_Hours Stress_Level_Moderate Stress_Level_High  \
count   1766.000000                  1766              1766
unique          NaN                     2                 2
top             NaN                 False              True
freq            NaN                  1166               892
mean      23.984711                   NaN               NaN
std        0.155115                   NaN               NaN
min       21.000000                   NaN               NaN
25%       24.000000                   NaN               NaN
50%       24.000000                   NaN               NaN
75%       24.000000                   NaN               NaN
max       24.000000                   NaN               NaN

        Study_Sleep_Ratio  Active_Hours
count         1766.000000   1766.000000
unique                NaN           NaN
top                   NaN           NaN
freq                  NaN           NaN
mean             1.035691     16.540204
std              0.287237      1.453223
min              0.505051     14.000000
25%              0.820608     15.300000
50%              1.000000     16.500000
75%              1.214964     17.800000
max              1.941176     19.000000

### Confirm:
- No negative hours.
- No totals > 24.
- Stress encoded properly.

# 6. Save Final Dataset

In [11]:
df.to_csv("../data/processed/student_lifestyle_final.csv", index=False)